
<div class="col-md-12">
    <h4 class="title">Permintaan Barang</h4>
       
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="card-title">Data Permintaan Barang</h4>    
                </div>
                
                <div class="col-md-4">
                    <button class="btn btn-fill" data-toggle="modal" data-target="#addForm" id="add">Create</button>
                </div>     
            </div>
            
        </div>
        <div class="card-content">

            <div class="fresh-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                </table>
            </div>


        </div>
    </div><!--  end card  -->
</div>
<!-- Button trigger modal -->
<div id="modals"></div>
<div id="modalItems"></div>

<script type="text/javascript">
    $(document).ready(function() {
        
        var nmTbl = '#datatables';
        var place = 'permintaan';
        var count = 0;

        $.getJSON(api_url+place+"/get", function(result){
            var head = demo.genHeader(result[1].header);
            var data = result[2].data;

            count = data.length;
            demo.createDatatable(nmTbl,result[2].data, head); // init datatable
        }); 

        loadDataItem(place);

        

        $.getJSON(api_url+"departemen/get", function(result){      
            var kategoriEl = '';
            var dataKat = result[2].data;

            kategoriEl += '<option value="">Pilih Departemen</option>';

            $.each(dataKat, function(index, val) {
                 kategoriEl += '<option value="'+val[0]+'">'+val[1]+'</option>';
            });
 
            var form = '<div class="card-content">'+
                            '<div class="form-group">'+
                                '<label>ID</label>'+
                                '<input type="text" placeholder="ex:PR00x" id="ID" class="form-control" disabled>'+
                                '<label>Departemen</label>'+
                                '<select id="ID_Departement" class="form-control">'+
                                kategoriEl+
                                '</select>'+
                                '<label>Total</label><br>'+
                                '<input type="text" placeholder="Ex90000" id="Total" class="form-control" disabled>'+
                                '<label>Items</label><br>'+
                                '<button type="button" class="btn btn-fill" id="addItems">Add Items</button>'+
                            '</div>'+
                        '</div>';

             $("#add").click(function(event) {
                demo.createModal({nameEl : '#modals' , content : form,form:place,title:'Add Data '+place});

                $('#ID').val(demo.genID('PR0000000000', count)); // generate ID

                $('#addItems').click(function(event) {

                    $('#itemModal').modal('show');

                    $(".Qty").keyup(function(event) {
                        var id = $(this);
                        var qty = id.val() * id.attr('data-price');
                        
                        $('#countQty_'+id.attr('data-id')).html(qty);
                    });

                    var dataDetail = saveItem();
                });


                $( "#"+place ).submit(function( event ) {
                    var forminput = $("form#"+place+" input, form#"+place+" select");   
                    var paramDet = dataDetail;

                    var param = {};
                    $.each(forminput, function(index, val) {
                        var id = $(val).attr('id');
                        var value = $(val).val();
                        param[id] =value;
                    });

                    $.ajax({
                        url: api_url+place+'/add',
                        type: 'POST',
                        dataType: 'json',
                        data: param,
                    })
                    .done(function(result) {
                        console.log(result[0].result);
                        if(result[0].result === "success"){
                        
                            $.each(paramDet, function(index, val) {
                                demo.putAjax(api_url+'permintaan_detail/add',val,""); // insert detail
                            });
                        }
                    })
                    .fail(function(err) {
                        console.log(err);
                    });

                    return false;
                    event.preventDefault();
                });
            });

            $(nmTbl).on('click', '#edit', function () {
                var id =$(this).attr('data-key');

                demo.ajaxGet(api_url+place+'/get/'+id).success(function(respon){

                    var dataID = respon[2].data;
                    
                    demo.createModal({nameEl : '#modals',id : 'editForm',title : 'Edit Data '+place+' ID: '+id,content : form,form : place});
                    
                    $('#ID').val(id);
                    $('#ID_Departement').val(dataID[0][3]);
                    $('#Total').val(dataID[0][2]); 

                    $("#editForm").modal('show');

                    loadDataItem(place);
                    var checkData = [];
                    var paramDetail = [];
                    var countDetail = 0;

                    $('#addItems').click(function(event) {
                        $('#itemModal').modal('show');

                        $(".Qty").keyup(function(event) {
                            var id = $(this);
                            var qty = id.val() * id.attr('data-price');
                            
                            $('#countQty_'+id.attr('data-id')).html(qty);
                        });

                        paramDetail = saveItem();

                        $.getJSON(api_url+"permintaan_detail/getPR/"+id, function(result){   

                            var data = result[1].data;
                            
                            countDetail = data.length;

                            $.each(data, function(index, val) {
                                 $("#Qty_"+val.ID_Barang).val(val.Qty); 
                                 $("#countQty_"+val.ID_Barang).html(val.Total);

                                 checkData.push( val.ID_Barang);
                            });
                             
                        });
                    });

                    $( "#"+place ).submit(function( event ) {
                        var forminput = $("form#"+place+" input, form#"+place+" select");   
                        var paramDet = paramDetail;

                        var param = {};
                        $.each(forminput, function(index, val) {
                            var id = $(val).attr('id');
                            var value = $(val).val();
                            param[id] =value;
                        });

                        $.ajax({
                            url: api_url+place+'/update/'+id,
                            type: 'POST',
                            dataType: 'json',
                            data: param,
                        })
                        .done(function(result) {
                            if(result[0].result === "success"){
                                $.each(paramDet, function(index, val) {

                                    if($.inArray(val.ID_Barang,checkData) === -1){
                                        console.log(val);
                                        demo.putAjax(api_url+'permintaan_detail/add/',val,""); // insert detail
                                    }  else{
                                        demo.putAjax(api_url+'permintaan_detail/update/'+id,val,""); // update detail
                                    }                          
                                    
                                });
                            }
                        })
                        .fail(function(err) {
                            console.log(err);
                        });

                        return false;
                        event.preventDefault();
                    });

                });
            });

        });

        $(nmTbl).on('click', '#view', function () {
            var id =$(this).attr('data-key');

            demo.ajaxGet(api_url+place+'/get/'+id).success(function(respon){
                var dataID = respon[2].data; 
                var header = respon[1].header;
                var id     = dataID[0][0];
                var detail = [];

                var viewCont = '';

                $.each(header, function(index, val) {
                    viewCont += '<fieldset>'+
                                '<div class="form-group">'+
                                    '<label class="col-sm-3 control-label">'+val+'</label>'+
                                    '<div class="col-sm-8">'+
                                        '<span class="help-block">'+dataID[0][index]+'</span>'+
                                    '</div>'+
                                '</div>'+
                                 '</fieldset>'
                });

                viewCont +='<table class="table table-striped">'+
                                '<thead>'+
                                    '<tr>'+
                                        '<td>Nama</td>'+
                                        '<td>Qty</td>'+
                                        '<td>Total</td>'+
                                    '</tr>'+
                                '</thead>'+
                                '<tbody>';

                demo.ajaxGet(api_url+'permintaan_detail/getPR/'+id).success(function(respons){
                    $.each(respons[1].data, function(index, val) {
                        viewCont += '<tr>'+
                                        '<td>'+val.Nama+'</td>'+
                                        '<td>'+val.Qty+'</td>'+
                                        '<td>'+val.Total+'</td>'+
                                    '</tr>';                        
                    });

                     viewCont +='<tbody>'+
                            '</table>';
                                    

                    demo.createModal({nameEl : '#modals',
                                    id : 'viewForm',
                                    title : 'View Data '+place+' ID: '+id,
                                    content : viewCont,
                                    form : place,
                                    btn_save :'' 
                                });
                    $('#viewForm').modal('show');

                });

               
                
            });
            
        });

        $(nmTbl).on('click', '#delete', function () {
            var id =$(this).attr('data-key');
            demo.createModal({nameEl : '#modals',
                            id : 'deleteAct',
                            title : 'Delete Data '+place+' ID: '+id,
                            content : '<span>Data ID '+id+' akan di hapus? </span>',
                            form : place,
                            btn_save :'<button type="submit" class="btn btn-primary" id="dltBtn">Yes</button>'
                        });

             $('#deleteAct').modal('show');

            $("#"+place).submit(function( event ) {
                var NamaKategori = $('#NamaKategori').val();
                
                demo.putAjax(api_url+place+'/delete/'+id,{},"GET"); // update
            
                event.preventDefault();
            });
        });

     });

    function saveItem() {
        var dataDetail = [];

        $('#saveItem').click(function(event) {
                var cn = $("div[id^='countQty']");
                var input = $(".Qty");

                var total = 0;
                var detail = [];

                $.each(cn, function(index, val) { 
                    total +=  parseInt($(val).html()); 
                });

                $.each(input, function(index, val) { 
                    var el = $(val);

                    if(el.val() !== ""){
                        dataDetail.push({"ID_Barang":el.attr('data-id'),"ID_PR": $("#ID").val(), "Qty" : el.val(), "Total" : $("#countQty_"+el.attr('data-id')).html() } );
                    }
                });

                $("#Total").val(total);
                $('#itemModal').modal('hide');
            });

        return dataDetail;
    }

    function loadDataItem(place) {
        $.getJSON(api_url+"barang/getInput", function(result){
            var tblItems = '<table id="tbl_items" class="display" cellspacing="0" width="100%"></table>';
            demo.createModal({nameEl : '#modalItems',id:"itemModal", content : tblItems,form:'brgItems',title:'Add Data Barang'+place,btn_save: '<button type="button" class="btn btn-primary" id="saveItem">Save changes</button>'});

            var head = demo.genHeader(result[1].header,'Qty');
            var data = result[2].data;

            demo.createDatatableInput("#tbl_items",result[2].data, head); // init datatable
        }); 
    }
  </script>